h1{
    color: blue;
}
table, th, td, tr {
    border: 9px solid black;
    color: green;
}
footer{
    color: orange;
}
nav{
 background-color: orange;
}
main{
    color: green;
    background-color: red;
}
article{
    color: fuchsia;
}